@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

* {
  margin: 0;
  padding: 0;
  background-color: rgb(30, 30, 42);
  color: rgb(235, 150, 83);
}

.header {
  margin-left: 45%;
  margin-top: 20px;
  font-family: "Dancing Script", cursive;
}
.card_container {
  height: 500px;
  display: flex;
  margin-left: 70px;
  margin-top: 20px;
}

.card {
  height: 100%;
  border-radius: 30px;
}

.card_c {
  border: solid 1px rgb(123, 119, 148);
  border-radius: 30px;
  margin: 10px;
}

.name {
  margin-left: 45%;
  margin-top: 50px;
  font-family: "Dancing Script", cursive;
}
